<a href="https://colab.research.google.com/github/ylfoo/ECE3066/blob/main/Python_for_Non_Programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Python Basics

In [ ]:
print("Hello World!")

In [ ]:
wallet = 41
print(wallet)

Numbers: Arithmetic Operations

In [ ]:
day = 21
temp = -15
weight = 65.5

print(3 + 6)
print(day + 3)
print(weight * 2)
print(temp - 5)
print(weight / 2)

Various Arithmetic Operators

In [ ]:
print("5 + 2 =", 5+2)
print("5 - 2 =", 5-2)
print("5 * 2 =", 5*2)
print("5 / 2 =", 5/2)
print("5 % 2 =", 5%2)
print("5 ** 2 =", 5**2)
print("5 // 2 =", 5//2)

Conditional Operators

In [ ]:
3 > 4

In [ ]:
4 < 6

In [ ]:
4 == 4

Strings

In [ ]:
shirt = 'blue'
print(shirt)

In [ ]:
shirt = "blue"
print(shirt)

Single and double quotes in the same sentence

In [ ]:
store = 'Adam\'s Cafe, the "best" there is'
print(store)

Using variables in strings

In [ ]:
day = 31
month = "March"
temp = 33
print(f"Today is {month} {day} and it’s {temp} degrees outside")

In [ ]:
print("Today is {} {} and it’s {} degrees outside".format(month, day, temp))

Joining strings

In [ ]:
string1 = 'MMU is a '
string2 = 'prestigious university'
string1 + string2

In [ ]:
string3 = 'normal university'
string1 + string3

In [ ]:
string1 * 3

Booleans

In [ ]:
light_is_on = True

In [ ]:
light_is_off = false

If statement

In [ ]:
if light_is_on:
  print("The light is on!")
  print("Anyone there?")

Comparison and else

In [ ]:
if light_is_on:
  print("The light is on!")
else:
  print("We're in the dark!")

In [ ]:
light_is_on = False

Rerun the previous cell. What do you get?

Let's try another one

In [ ]:
weight = 45

In [ ]:
if weight < 50:
  print("You’re underweight!")
else:
  print("You’re overweight!")

In [ ]:
weight = 60

Rerun the previous cell. What do you get?

Comparison and else: Challenge

In [ ]:
age = 35
if age >= 18:
  print("Adult")
else:
  print("Child")

### 2. Project 1

Project 1: Picking a random number  
First, import the _random_ package

In [ ]:
import random

In [ ]:
r = random.randint(1, 10)
print(r)

Challenge: Magic 8 ball

In [ ]:
answer = random.randint(1,3)
if answer == 1:
  print("Yes")
elif answer == 2:
  print("No")
else:
  print("Maybe")

Generate a lucky number

In [ ]:
lucky_number = random.randint(1, 100)

In [ ]:
print(f'You will have a great day! Your Lucky Number is {lucky_number}')

Choosing what fortune to show

In [ ]:
fortune_number = random.randint(1, 3)

if fortune_number == 1:
  fortune_text = 'You will have a great day!'
elif fortune_number == 2:
  fortune_text = 'Today will be tough...but worth it.'
elif fortune_number == 3:
  fortune_text = 'You will get married this year!'

print(fortune_text)

### 3. Lists, Loops and Dictionaries

List

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers[0]

In [ ]:
numbers[4]

In [ ]:
numbers[5]

In [ ]:
numbers[2:4]

Another example

In [ ]:
fav_movies = ["Maleficent", "Aladdin", "Star Wars"]

In [ ]:
print(fav_movies[1])

#### Lists: Add, insert, delete  
Find the length of the list

In [ ]:
print(len(fav_movies))

Add an entry to the list

In [ ]:
fav_movies.append("Jurassic Park")
print(fav_movies)

Insert a second entry

In [ ]:
fav_movies.insert(1, "Spiderman")
print(fav_movies)

At which location 'Spiderman' was inserted?

Delete an entry

In [ ]:
del(fav_movies[2])
print(fav_movies)

Which one was deleted?

A FOR loop

In [ ]:
for number in range (5):
  print("Hello")

In [ ]:
for num in range (10):
  print(num)

In [ ]:
for movie in fav_movies:
  print(movie)

FOR loop: Challenge

In [ ]:
for number in range(20):
  # complete your code here

#### Dictionaries

In [ ]:
cats = {"Black": 6, "Coco": 14, "Fluffy": 8}
print(cats)

In [ ]:
print(cats["Fluffy"])

Dictionaries: Add, Delete

Add 1 more entry

In [ ]:
cats["Lucky"] = 1
print(cats)

At which location was it added?

Delete an entry

In [ ]:
del(cats["Coco"])
print(cats)

Print the length of the dictionary

In [ ]:
print(len(cats))

### 4. Project 2

In [ ]:
text = '''Multimedia University (MMU) Melaka Career Fair, held on 18 April 2024, was a success with hundreds of students connecting with representatives from a wide array of industries and organisations. The event,  jointly organised by Career Connect and TalentBank, provided students with invaluable opportunities to explore career paths, network with professionals, and even secure internships or job offers. MMU President, Professor Dato’ Dr. Mazliham Mohd Su’ud officiated the opening ceremony at the Persada Permata Dunia. Also attending the event were Mr. Ben Ho, Chief Executive Officer of TalentBank, Prof. Ir. Dr. Wong Hin Yong, Vice President of Academic and Innovative Learning (VP AIR), Prof. Dr. Wong Eng Kiong, Vice President of Student Experience and Entrepreneurship Development (VP SEED), Prof. Ir. Dr. Hairul Azhar Abdul Rashid, Vice President of Market Exploration, Engagement & Touchpoint (VP MEET), Career Connect team and other staff. This fair was an incredible opportunity for MMU students to connect with potential employers and gain a real-world insight into various industries. In addition to networking opportunities, the career fair also offered its audience a variety of interview and informational sessions aimed at enhancing their professional skills. All in all, the MMU Melaka Career Fair proved to be a valuable resource for students, providing them with the tools, connections, and confidence they need to succeed in today’s competitive job market.'''

How many words are there?

In [ ]:
ts = text.split()
print(ts)

Count the words

In [ ]:
print(len(ts))

How many times a word appears?  
1. Create an empty dictionary

In [ ]:
word_count = {}

In [ ]:
for word in ts:
  print(word)

2. Loop through each word in the text string  
Count 1 when the word is seen once

In [ ]:
for word in ts:
  # print(word)
  word_count[word] = 1

print(word_count)

Problem: It only counts once even if the word is seen more than once

**Add an IF condition**  
If the word is seen for the 1st time, count 1.  
If the word is seen more than once, add 1 to its existing count.

In [ ]:
for word in ts:
  if word in word_count:
    word_count[word] = word_count[word] + 1
  else:
    word_count[word] = 1

print(word_count)

### 5. Functions, and more

In [ ]:
def hello():
  print("Hello World!")

In [ ]:
hello()

Pass Parameters to a Function

In [ ]:
def hello(name):
  print(f"Hello {name}!")

In [ ]:
hello(John)

In [ ]:
hello("John")

As many parameters as you want

In [ ]:
def add_numbers(num1, num2):
  print(num1 + num2)

In [ ]:
add_numbers(5, 4)

Create a function that prints out a cat’s name & age

In [ ]:
def cat(name, age):
  print(f"I'm a cat. My name is {name} and I'm {age} years old.")

In [ ]:
cat(Kitty, 9)

In [ ]:
cat("Kitty", 9)

Output of a function

In [ ]:
def double(number):
  return number * 2

In [ ]:
double(5)

Challenge: Create a function that change all the letters in a string to uppercase

In [ ]:
def all_upper(text):
  return text.upper()

In [ ]:
new_text = all_upper("abcdef")
print(new_text)

How to do the same on a list of words?

In [ ]:
names = ['foo', 'yee', 'loo']
for name in names:
  print(all_upper(name))

Input from user

In [ ]:
user_input = input('What is your name?')
print(user_input)

In [ ]:
user_input = input("What's the number that you want to double?")
print(user_input * 2)

Does it work? Try this

In [ ]:
user_input = input("What's the number that you want to double? ")
print(int(user_input) * 2)

In [ ]:
user_text = input('What do you want to type? ')
lower_or_upper = input("Do you want it to be in lower case (Type '1') or upper case (Type '2')?")
if lower_or_upper == 1:
  print(user_text.lower())
else:
  print(user_text.upper())

Does it work? Try this

In [ ]:
user_text = input('What do you want to type? ')
lower_or_upper = int(input("Do you want it to be in lower case (Type '1') or upper case (Type '2')?"))
if lower_or_upper == 1:
  print(user_text.lower())
else:
  print(user_text.upper())

In [ ]:
user_text = input('What do you want to type? ')
lower_or_upper = int(input("Do you want it to be in lower case (Type '1') or upper case (Type '2')?"))
if lower_or_upper == 1:
  print(user_text.lower())
elif lower_or_upper == 2:
  print(user_text.upper())
else:
  print("You've typed a wrong number!")

### 6. Project 3: Guess a number

WHILE loop

In [ ]:
guess = int(input("What is your guess? "))
correct_number = 5

while guess != correct_number:
  guess = int(input("What is your guess? "))

print("You've made the right guess!")

Count the number of guesses

In [ ]:
guess = int(input("What is your guess? "))
correct_number = 5
count = 1

while guess != correct_number:
  count += 1
  guess = int(input("What is your guess? "))

print(f"You've made the right guess! The right answer is {correct_number}. It took you {count} guesses.")

What if the correct number is randomly selected?

In [ ]:
import random
correct_number = random.randint(1, 100)
print("Guess between 1 and 100")
guess = int(input("What is your guess? "))
count = 1

while guess != correct_number:
  count += 1
  if guess < correct_number:
    guess = int(input("Nope. Guess higher, please > "))
  elif guess > correct_number:
    guess = int(input("Nope. Guess lower, please > "))

print(f"You've made the right guess! The right answer is {correct_number}. It took you {count} guesses.")

The end. Congratulations! You've completed the course.